<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{656,460}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,129},{656,460}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>bonus_coin_gray_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{99,114}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,47},{99,114}}</string>
                <key>sourceSize</key>
                <string>{115,178}</string>
            </dict>
            <key>bonus_coin_gray_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,575},{101,114}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,47},{101,114}}</string>
                <key>sourceSize</key>
                <string>{115,178}</string>
            </dict>
            <key>bonus_coin_gray_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,240},{115,144}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{115,144}}</string>
                <key>sourceSize</key>
                <string>{115,178}</string>
            </dict>
            <key>bonus_coin_gray_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,2},{111,140}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{111,140}}</string>
                <key>sourceSize</key>
                <string>{115,178}</string>
            </dict>
            <key>bonus_coin_gray_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,472},{101,114}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,47},{101,114}}</string>
                <key>sourceSize</key>
                <string>{115,178}</string>
            </dict>
            <key>bonus_coin_yellow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,404},{113,138}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,39},{113,138}}</string>
                <key>sourceSize</key>
                <string>{115,178}</string>
            </dict>
            <key>bonus_coin_yellow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,357},{113,138}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,39},{113,138}}</string>
                <key>sourceSize</key>
                <string>{115,178}</string>
            </dict>
            <key>bonus_coin_yellow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,172},{115,144}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{115,144}}</string>
                <key>sourceSize</key>
                <string>{115,178}</string>
            </dict>
            <key>bonus_coin_yellow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,55},{115,172}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{115,172}}</string>
                <key>sourceSize</key>
                <string>{115,178}</string>
            </dict>
            <key>bonus_coin_yellow_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,289},{113,138}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,39},{113,138}}</string>
                <key>sourceSize</key>
                <string>{115,178}</string>
            </dict>
            <key>bonus_curArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,211},{62,62}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{62,62}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>bonus_curBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,115},{123,146}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{123,146}}</string>
                <key>sourceSize</key>
                <string>{129,156}</string>
            </dict>
            <key>bonus_day_gray_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,605},{67,34}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,15},{67,34}}</string>
                <key>sourceSize</key>
                <string>{115,52}</string>
            </dict>
            <key>bonus_day_gray_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{75,34}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{75,34}}</string>
                <key>sourceSize</key>
                <string>{115,52}</string>
            </dict>
            <key>bonus_day_gray_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{75,34}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{75,34}}</string>
                <key>sourceSize</key>
                <string>{115,52}</string>
            </dict>
            <key>bonus_day_gray_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,55},{77,34}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{77,34}}</string>
                <key>sourceSize</key>
                <string>{115,52}</string>
            </dict>
            <key>bonus_day_gray_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,134},{75,34}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,15},{75,34}}</string>
                <key>sourceSize</key>
                <string>{115,52}</string>
            </dict>
            <key>bonus_day_yellow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,580},{96,46}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,8},{96,46}}</string>
                <key>sourceSize</key>
                <string>{136,58}</string>
            </dict>
            <key>bonus_day_yellow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,472},{106,46}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{106,46}}</string>
                <key>sourceSize</key>
                <string>{136,58}</string>
            </dict>
            <key>bonus_day_yellow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,497},{106,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{106,46}}</string>
                <key>sourceSize</key>
                <string>{136,58}</string>
            </dict>
            <key>bonus_day_yellow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,275},{110,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{110,46}}</string>
                <key>sourceSize</key>
                <string>{136,58}</string>
            </dict>
            <key>bonus_day_yellow_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,387},{108,46}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{108,46}}</string>
                <key>sourceSize</key>
                <string>{136,58}</string>
            </dict>
            <key>bonus_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{218,51}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{218,51}}</string>
                <key>sourceSize</key>
                <string>{232,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bonus.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3eee23c6907cb1bf46b518cee64c20e$</string>
            <key>textureFileName</key>
            <string>bonus.png</string>
        </dict>
    </dict>
</plist>
