<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>option_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{201,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,95}}</string>
                <key>sourceSize</key>
                <string>{201,95}</string>
            </dict>
            <key>option_leftDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,166},{58,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,86}}</string>
                <key>sourceSize</key>
                <string>{58,86}</string>
            </dict>
            <key>option_leftUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,169},{58,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,86}}</string>
                <key>sourceSize</key>
                <string>{58,86}</string>
            </dict>
            <key>option_rightDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,159},{58,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,86}}</string>
                <key>sourceSize</key>
                <string>{58,86}</string>
            </dict>
            <key>option_rightUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,99},{58,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,86}}</string>
                <key>sourceSize</key>
                <string>{58,86}</string>
            </dict>
            <key>options_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{716,646}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,62},{716,646}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>options_controller.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,68},{96,97}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{96,97}}</string>
                <key>sourceSize</key>
                <string>{114,115}</string>
            </dict>
            <key>options_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{201,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,95}}</string>
                <key>sourceSize</key>
                <string>{201,95}</string>
            </dict>
            <key>options_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,229},{47,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{47,46}}</string>
                <key>sourceSize</key>
                <string>{51,60}</string>
            </dict>
            <key>options_regular.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,99},{68,86}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{68,86}}</string>
                <key>sourceSize</key>
                <string>{100,138}</string>
            </dict>
            <key>options_sleepy.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,219},{82,74}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,24},{82,74}}</string>
                <key>sourceSize</key>
                <string>{100,138}</string>
            </dict>
            <key>options_topdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,2},{64,98}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{64,98}}</string>
                <key>sourceSize</key>
                <string>{100,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>optionScene.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3176b8eda57b1da7c3886f5ef0631e6d$</string>
            <key>textureFileName</key>
            <string>optionScene.png</string>
        </dict>
    </dict>
</plist>
