<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>combo_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,333},{32,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>combo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,128},{17,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{19,30}</string>
            </dict>
            <key>combo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,506},{30,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>combo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,476},{30,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>combo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,213},{34,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,28}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>combo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,446},{30,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>combo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,303},{32,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>combo_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,273},{32,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>combo_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,243},{32,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>combo_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,414},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>killHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,811},{142,141}}</string>
                <key>offset</key>
                <string>{-47,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,6},{142,141}}</string>
                <key>sourceSize</key>
                <string>{320,151}</string>
            </dict>
            <key>killNumC_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1326},{45,49}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,49}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
            <key>killNumC_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,363},{30,49}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,49}}</string>
                <key>sourceSize</key>
                <string>{30,65}</string>
            </dict>
            <key>killNumC_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1299},{45,49}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,49}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
            <key>killNumC_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1319},{45,49}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,49}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
            <key>killNumC_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,944},{50,49}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>killNumC_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1299},{45,49}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,49}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
            <key>killNumC_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1272},{45,49}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,49}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
            <key>killNumC_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1095},{39,49}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{39,49}}</string>
                <key>sourceSize</key>
                <string>{39,65}</string>
            </dict>
            <key>killNumC_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1043},{45,49}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,49}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
            <key>killNumC_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,996},{45,49}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,49}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
            <key>killNum_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,170},{38,41}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{38,41}}</string>
                <key>sourceSize</key>
                <string>{38,65}</string>
            </dict>
            <key>killTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,1090},{194,70}}</string>
                <key>offset</key>
                <string>{6,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,70},{194,70}}</string>
                <key>sourceSize</key>
                <string>{320,146}</string>
            </dict>
            <key>leaderBoard.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,170},{448,386}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,47},{448,386}}</string>
                <key>sourceSize</key>
                <string>{450,440}</string>
            </dict>
            <key>overBonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{592,351}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,43},{592,351}}</string>
                <key>sourceSize</key>
                <string>{700,421}</string>
            </dict>
            <key>overBonusStash.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1168},{173,48}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{173,48}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>overGiftBoxDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1037},{301,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,129}}</string>
                <key>sourceSize</key>
                <string>{301,129}</string>
            </dict>
            <key>overGiftBoxUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,944},{301,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,129}}</string>
                <key>sourceSize</key>
                <string>{301,129}</string>
            </dict>
            <key>overGuideIcon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,620},{347,322}}</string>
                <key>offset</key>
                <string>{23,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,44},{347,322}}</string>
                <key>sourceSize</key>
                <string>{443,398}</string>
            </dict>
            <key>overGuideIcon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,709},{345,326}}</string>
                <key>offset</key>
                <string>{24,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,44},{345,326}}</string>
                <key>sourceSize</key>
                <string>{443,398}</string>
            </dict>
            <key>overGuideMsg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,620},{488,74}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,22},{488,74}}</string>
                <key>sourceSize</key>
                <string>{1024,96}</string>
            </dict>
            <key>overGuideMsg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{1024,62}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,62}}</string>
                <key>sourceSize</key>
                <string>{1024,70}</string>
            </dict>
            <key>overGuideRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1110},{87,65}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{87,65}}</string>
                <key>sourceSize</key>
                <string>{103,89}</string>
            </dict>
            <key>overRate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{592,352}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,77},{592,352}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>overRateBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1004},{138,46}}</string>
                <key>offset</key>
                <string>{-17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{138,46}}</string>
                <key>sourceSize</key>
                <string>{212,56}</string>
            </dict>
            <key>overRateOk.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,954},{138,48}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,3},{138,48}}</string>
                <key>sourceSize</key>
                <string>{212,56}</string>
            </dict>
            <key>overTime.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1265},{60,61}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,61}}</string>
                <key>sourceSize</key>
                <string>{72,71}</string>
            </dict>
            <key>over_123-up.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1052},{133,99}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{133,99}}</string>
                <key>sourceSize</key>
                <string>{133,107}</string>
            </dict>
            <key>over_123.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1168},{129,99}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{129,99}}</string>
                <key>sourceSize</key>
                <string>{133,107}</string>
            </dict>
            <key>over_again-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{410,124}}</string>
                <key>offset</key>
                <string>{38,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,0},{410,124}}</string>
                <key>sourceSize</key>
                <string>{526,156}</string>
            </dict>
            <key>over_facebook-up.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1272},{52,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{52,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>over_facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1272},{52,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{52,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>over_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,1075},{292,246}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,23},{292,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>over_menu-up.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,1340},{131,107}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{131,107}}</string>
                <key>sourceSize</key>
                <string>{133,107}</string>
            </dict>
            <key>over_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,1449},{129,107}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{129,107}}</string>
                <key>sourceSize</key>
                <string>{133,107}</string>
            </dict>
            <key>over_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1970},{94,71}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{94,71}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>over_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,709},{144,100}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{144,100}}</string>
                <key>sourceSize</key>
                <string>{170,110}</string>
            </dict>
            <key>over_stash-up.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1153},{280,174}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,174}}</string>
                <key>sourceSize</key>
                <string>{280,182}</string>
            </dict>
            <key>over_stash.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,1323},{276,174}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,174}}</string>
                <key>sourceSize</key>
                <string>{280,182}</string>
            </dict>
            <key>over_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,128},{397,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,40}}</string>
                <key>sourceSize</key>
                <string>{397,40}</string>
            </dict>
            <key>over_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,709},{223,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,47}}</string>
                <key>sourceSize</key>
                <string>{223,47}</string>
            </dict>
            <key>over_twitter-up.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1218},{52,52}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{52,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>over_twitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1218},{52,52}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{52,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>over_week.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,709},{205,47}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{205,47}}</string>
                <key>sourceSize</key>
                <string>{223,47}</string>
            </dict>
            <key>sina2_807,695.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1218},{52,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{52,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>sina_807,695.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,1286},{52,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{52,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>singleCoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1199},{64,64}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{64,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>totalCoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1037},{56,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{56,39}}</string>
                <key>sourceSize</key>
                <string>{62,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>overScene.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d39d4c6ccac4ca75cad52e03a04c258$</string>
            <key>textureFileName</key>
            <string>overScene.png</string>
        </dict>
    </dict>
</plist>
