<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2742},{182,480}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,0},{182,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>a0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2728},{196,480}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,0},{196,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>a0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2722},{210,480}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,0},{210,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>a0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2496},{224,480}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,0},{224,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>a0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2488},{238,480}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,0},{238,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>a0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2488},{252,480}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,0},{252,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>a0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,2490},{266,480}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,0},{266,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>a0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2208},{278,480}}</string>
                <key>offset</key>
                <string>{-35,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,0},{278,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>a0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2198},{288,480}}</string>
                <key>offset</key>
                <string>{-33,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,0},{288,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>a0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2194},{300,480}}</string>
                <key>offset</key>
                <string>{-32,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,0},{300,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>a0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,2180},{308,480}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,0},{308,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>a0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,1858},{320,480}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>a0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1858},{334,480}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,0},{334,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>a0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1846},{350,480}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,0},{350,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>a0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1836},{370,480}}</string>
                <key>offset</key>
                <string>{-33,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,0},{370,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>a0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1448},{386,480}}</string>
                <key>offset</key>
                <string>{-34,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,0},{386,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>a0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1440},{404,480}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,0},{404,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>a0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1436},{420,480}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,0},{420,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>a0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,1420},{436,480}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,0},{436,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>a0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,966},{452,480}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,0},{452,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>a0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,966},{468,480}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,0},{468,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>a0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{482,480}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{482,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>a0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,484},{496,480}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{496,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>a0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{504,480}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{504,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>a0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,2},{508,480}}</string>
                <key>offset</key>
                <string>{-33,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{508,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>a0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{514,480}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{514,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>a0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,966},{472,480}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,0},{472,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>a0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,484},{482,480}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{482,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>a0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,484},{492,480}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{492,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>a0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,2},{504,480}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{504,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>a0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{512,480}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{512,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_wind.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8c68c12ff9c149d613b1979b638882d$</string>
            <key>textureFileName</key>
            <string>magic_wind.png</string>
        </dict>
    </dict>
</plist>
