<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_blueball_180:a10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{743,136},{105,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{105,154}}</string>
                <key>sourceSize</key>
                <string>{105,154}</string>
            </dict>
            <key>effect_blueball_180:a11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{608,0},{132,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{132,157}}</string>
                <key>sourceSize</key>
                <string>{132,157}</string>
            </dict>
            <key>effect_blueball_180:a13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{318,0},{134,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{134,171}}</string>
                <key>sourceSize</key>
                <string>{134,171}</string>
            </dict>
            <key>effect_blueball_180:a14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{159,0},{156,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{156,186}}</string>
                <key>sourceSize</key>
                <string>{156,186}</string>
            </dict>
            <key>effect_blueball_180:a15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{156,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{156,188}}</string>
                <key>sourceSize</key>
                <string>{156,188}</string>
            </dict>
            <key>effect_blueball_180:a16.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{455,0},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_blueball_180:a17.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{743,0},{148,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{148,133}}</string>
                <key>sourceSize</key>
                <string>{148,133}</string>
            </dict>
            <key>effect_blueball_180:a18.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{557,160},{107,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{107,141}}</string>
                <key>sourceSize</key>
                <string>{107,141}</string>
            </dict>
            <key>effect_blueball_180:a3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{159,189},{88,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{88,157}}</string>
                <key>sourceSize</key>
                <string>{88,157}</string>
            </dict>
            <key>effect_blueball_180:a4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{851,165},{89,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{89,159}}</string>
                <key>sourceSize</key>
                <string>{89,159}</string>
            </dict>
            <key>effect_blueball_180:a5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{455,153},{99,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{99,160}}</string>
                <key>sourceSize</key>
                <string>{99,160}</string>
            </dict>
            <key>effect_blueball_180:a6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{894,0},{103,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{103,162}}</string>
                <key>sourceSize</key>
                <string>{103,162}</string>
            </dict>
            <key>effect_blueball_180:a7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{318,174},{101,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{101,144}}</string>
                <key>sourceSize</key>
                <string>{101,144}</string>
            </dict>
            <key>effect_blueball_180:a8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,191},{101,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{101,138}}</string>
                <key>sourceSize</key>
                <string>{101,138}</string>
            </dict>
            <key>effect_blueball_180:b1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{667,293},{74,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,142}}</string>
                <key>sourceSize</key>
                <string>{74,142}</string>
            </dict>
            <key>effect_blueball_180:b2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{943,165},{75,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,149}}</string>
                <key>sourceSize</key>
                <string>{75,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_blueball_180.pvr.ccz</string>
            <key>size</key>
            <string>{1020,442}</string>
            <key>textureFileName</key>
            <string>effect_blueball_180.pvr.ccz</string>
        </dict>
    </dict>
</plist>
