<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MagnetismIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,382},{67,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>MagnetismIcon_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,686},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>automat.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,802},{67,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>automat_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,306},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,731},{67,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>bb_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,230},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>crutch.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,662},{67,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>crutch_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,154},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>elasticBallIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,593},{67,69}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>elasticBallIcon_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,78},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,524},{67,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>fire_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>guideCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,554},{120,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{120,118}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guideHand.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,270},{94,146}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{94,146}}</string>
                <key>sourceSize</key>
                <string>{100,148}</string>
            </dict>
            <key>guideUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1028},{130,305}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,305}}</string>
                <key>sourceSize</key>
                <string>{130,323}</string>
            </dict>
            <key>iceIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,453},{67,69}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>iceIcon_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,914},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icestone.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1469},{82,74}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,74}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>icestone_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,838},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>laser.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1385},{82,74}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{82,74}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>laser_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,762},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>masterIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1028},{92,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{92,80}}</string>
                <key>sourceSize</key>
                <string>{94,82}</string>
            </dict>
            <key>relive.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,944},{67,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>relive_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,610},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rookieIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1122},{88,78}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{88,78}}</string>
                <key>sourceSize</key>
                <string>{94,82}</string>
            </dict>
            <key>rush.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,875},{67,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>rush_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,534},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,806},{67,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>shield_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,458},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>shopLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1808},{803,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{803,68}}</string>
                <key>sourceSize</key>
                <string>{803,68}</string>
            </dict>
            <key>shopPurchased.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,1985},{128,51}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,51}}</string>
                <key>sourceSize</key>
                <string>{132,55}</string>
            </dict>
            <key>shopgetit.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1859},{128,51}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,51}}</string>
                <key>sourceSize</key>
                <string>{132,55}</string>
            </dict>
            <key>skillup.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,737},{67,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>skillup_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,382},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>slow.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,666},{67,69}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>slow_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,306},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>sorrycontinue.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1809},{196,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{196,48}}</string>
                <key>sourceSize</key>
                <string>{212,56}</string>
            </dict>
            <key>sorrymore.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1985},{196,48}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{196,48}}</string>
                <key>sourceSize</key>
                <string>{212,56}</string>
            </dict>
            <key>stashGuideRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1212},{87,65}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{87,65}}</string>
                <key>sourceSize</key>
                <string>{103,89}</string>
            </dict>
            <key>stashNew.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1283},{94,71}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{94,71}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>stashSorry.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{592,352}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,77},{592,352}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>stash_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1878},{165,152}}</string>
                <key>offset</key>
                <string>{29,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{165,152}}</string>
                <key>sourceSize</key>
                <string>{223,198}</string>
            </dict>
            <key>stashback.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,270},{180,68}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{180,68}}</string>
                <key>sourceSize</key>
                <string>{208,88}</string>
            </dict>
            <key>storm.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,595},{67,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>storm_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,230},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>thankyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{1024,212}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{1024,212}}</string>
                <key>sourceSize</key>
                <string>{1024,260}</string>
            </dict>
            <key>throw.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,524},{67,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>throw_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,154},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>thump.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1301},{82,74}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,74}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>thump_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,78},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>thunder.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,871},{67,67}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{67,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>thunder_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>thunderbeam.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,453},{67,69}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>thunderbeam_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1705},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>timestop.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,382},{67,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>timestop_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1629},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tooth.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,958},{67,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>tooth_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1553},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>upgrade_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1878},{795,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{795,105}}</string>
                <key>sourceSize</key>
                <string>{795,105}</string>
            </dict>
            <key>upgrade_bUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1028},{779,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{779,91}}</string>
                <key>sourceSize</key>
                <string>{795,105}</string>
            </dict>
            <key>upgrade_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,124},{110,100}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{110,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>upgrade_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,676},{120,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,68}}</string>
                <key>sourceSize</key>
                <string>{120,68}</string>
            </dict>
            <key>upgrade_buy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,2},{120,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,68}}</string>
                <key>sourceSize</key>
                <string>{120,68}</string>
            </dict>
            <key>upgrade_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1989},{43,43}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,43}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>upgrade_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1335},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{39,33}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>upgrade_l.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1701},{795,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{795,105}}</string>
                <key>sourceSize</key>
                <string>{795,105}</string>
            </dict>
            <key>upgrade_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1701},{795,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{795,105}}</string>
                <key>sourceSize</key>
                <string>{795,105}</string>
            </dict>
            <key>upgrade_lock.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1594},{795,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{795,105}}</string>
                <key>sourceSize</key>
                <string>{795,105}</string>
            </dict>
            <key>upgrade_lockground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1985},{465,31}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,58},{465,31}}</string>
                <key>sourceSize</key>
                <string>{795,105}</string>
            </dict>
            <key>upgrade_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,958},{128,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{128,68}}</string>
                <key>sourceSize</key>
                <string>{170,68}</string>
            </dict>
            <key>upgrade_restore.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1028},{253,66}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{253,66}}</string>
                <key>sourceSize</key>
                <string>{261,74}</string>
            </dict>
            <key>upgrade_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1335},{31,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{31,41}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>upgrade_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{99,266}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,49},{99,266}}</string>
                <key>sourceSize</key>
                <string>{151,372}</string>
            </dict>
            <key>upgrade_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,796},{155,160}}</string>
                <key>offset</key>
                <string>{34,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,38},{155,160}}</string>
                <key>sourceSize</key>
                <string>{223,198}</string>
            </dict>
            <key>upgrade_upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,624},{170,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,68}}</string>
                <key>sourceSize</key>
                <string>{170,68}</string>
            </dict>
            <key>upgrade_upgrade2.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,452},{170,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,68}}</string>
                <key>sourceSize</key>
                <string>{170,68}</string>
            </dict>
            <key>upgrade_weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,418},{133,134}}</string>
                <key>offset</key>
                <string>{18,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,14},{133,134}}</string>
                <key>sourceSize</key>
                <string>{223,198}</string>
            </dict>
            <key>upgrade_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1382},{795,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{795,210}}</string>
                <key>sourceSize</key>
                <string>{795,210}</string>
            </dict>
            <key>wait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,212}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{1024,212}}</string>
                <key>sourceSize</key>
                <string>{1024,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stash.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:876540b595fb157fcf93ea3a803a493d$</string>
            <key>textureFileName</key>
            <string>stash.png</string>
        </dict>
    </dict>
</plist>
